.preview {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 96vh;
    overflow: scroll;
}

.previewHader {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border: none;
    background-color: rgb(33,41,53);
}

.previewButton {
    border: none;
    background-color: blanchedalmond;
    width: 60px;
    border-radius: 3px 3px 0 0;
}

.previewIconButton {
    border: none;
    background-color: rgb(33,41,53);;
    color: white;
}

.leftAction {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 3px;
}

.rightAction {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 10px;
}

.pdfPage {
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.previewFooter {
    height: 40px;
}

.cavasLayer {
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.cavasLayer canvas {
    height: 100%;
    max-width: 100%;
}

.textLayer {
    position: relative;
    height: 100%;
    width: 100%;
}

.logContent {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    word-wrap: break-word;
}