.preview {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 96vh;
}

.previewHader {
    height: 40px;
}

.previewBody {
    flex-grow: 1;
    background-color: antiquewhite;
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;
}

.previewFooter {
    height: 40px;
}

.cavasLayer {
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.cavasLayer canvas {
    height: 100%;
    max-width: 100%;
}

.textLayer {
    position: relative;
    height: 100%;
    width: 100%;
}