.preview {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 96vh;
    overflow: scroll;
}

.previewHader {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border: none;
}

.previewButton {
    border: none;
    background-color: blanchedalmond;
}

.previewIconButton {
    border: none;
    background-color: #ffffff;
}

.leftAction {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.rightAction {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.previewBody {
    flex-grow: 1;
    background-color: rgb(233, 233, 233);
    display: flex;
    overflow: scroll;
    justify-content: center;
}

.pdfPage {
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.previewFooter {
    height: 40px;
}

.cavasLayer {
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.cavasLayer canvas {
    height: 100%;
    max-width: 100%;
}

.textLayer {
    position: relative;
    height: 100%;
    width: 100%;
}