.previewBody {
    flex-grow: 1;
    background-color: rgb(233, 233, 233);
    display: flex;
    overflow: scroll;
    justify-content: center;
    max-width: 100%;
}

.pdfPage {
    width: auto;
    margin-bottom: 5px;
    max-width: 100%;
}
