.react-pdf__Page.prevPage {
    position: absolute !important;
    z-index: 1;
}

.pdfPage {

}

.pageContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bufferCanvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    pointer-events: none;
}
