.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
}

.editorBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.prjTree {
  height: 100%;
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
}

.treeMenus {
  display: flex;
  flex-direction: row;
}

.fileItem {
  display: flex;
  flex-direction: row;
}

.fileItem > :last-child {
  margin-left: auto;
}

.editor {
  resize: horizontal;
  flex: 0 0 60%;
}

.preview {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.previewHader {
  height: 40px;
}

.previewBody {
  flex-grow: 1;
}

.previewFooter {
  height: 40px;
}

.treeItem {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.folderArrow {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.cavasLayer {
  border: 1px solid black;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100%;
}

.cavasLayer canvas {
  height: 100%;
  max-width: 100%;
}

.textLayer {
  position: relative;
  height: 100%;
  width: 100%;
}