.header {
  height: 40px;
}

.editorBody {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.prjTree {
  height: 100vh;
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
}

.treeMenus {
  display: flex;
  flex-direction: row;
}

.fileItem {
  display: flex;
  flex-direction: row;
}

.fileItem > :last-child {
  margin-left: auto;
}

.editor {
  resize: horizontal;
  flex: 0 0 60%;
}

.preview {
  flex-grow: 1;
}

.treeItem {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.folderArrow {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.cavasLayer {
  border: 1px solid black;
  
}

.cavasLayer canvas {
  width: 900px;
  height: 100vh;
}

.textLayer {
  min-height: 10px;
}