.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editorHeader{
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 41, 53);
    gap: 10px;
    padding-left: 8px;
    flex-shrink: 0;
}

.menuButton {
    background-color: #212935;
    color: white;
    border: none;
}

.editorContainer{
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.stateConnect {
    color: green;
}

.stateConnecting {
    color: yellow;
}

.stateDisconnect {
    color: red;
}