.container {
    height: 91vh;   
}

.editorHeader{
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 41, 53);
    gap: 10px;
    padding-left: 8px;
}

.menuButton {
    background-color: rgb(40, 50, 70);
    color: white;
    border: none;
}

.editorContainer{
    height: 100%;
}

.stateConnect {
    color: green;
}

.stateConnecting {
    color: yellow;
}

.stateDisconnect {
    color: red;
}