.docContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.docList {
    width: 60%;
}

.docHeader {
    display: flex;
    justify-content: space-between;
}

.docListHeader {
    margin-bottom: 20px;
}

.docHeader> :last-child {
    margin-left: auto;
}

.projTiltle {
    margin-top: 10px;
    height: 35px;
}

.projTiltle:hover {
    color: rgb(4, 4, 147);
    text-decoration: underline;
}
