.docContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    flex-direction: column;
}

.docList {
    width: 60%;
}

.docHeader {
    display: flex;
    justify-content: space-between;
}

.docListHeader {
    margin-bottom: 20px;
}

.docHeader> :last-child {
    margin-left: auto;
}

.projTiltle {
    margin-top: 10px;
    height: 35px;
}

.projTiltle:hover {
    color: rgb(4, 4, 147);
    text-decoration: underline;
}

.projAttr {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    font-weight: 400;
}

.projAttr span {
    color: #696969;
}

.projList {
    width: 80%;
    margin: 0 auto;
}

.helpTip {
    font-size: 14px;
    color: darkgray;
}