.headerLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 37, 41);
}

.loginReg {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.headerOperation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  gap: 10px;
  margin-right: 30px;
}

.avatarImg {
  height: 35px;
  width: 35px;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 4%;
  top: 4%;
  border-radius: 5px;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdownContent div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #eee;
}

.dropdownContent span {
  margin-left: 15px;
  height: 19px;
}

.dropdownContent i {
  margin-left: 15px;
}

.dropdownContent div:hover {
  background-color: #D3D3D3
}

.menuIcon {
  height: 19px;
  margin-top: -22px;
}