.loginContainer {
    --login-input-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loginForm {
    width: 500px;
    height: 350px;
    border-bottom-left-radius: var(--login-border-radius);
}

.loginTabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-top-left-radius: var(--login-border-radius);
    border-top-right-radius: var(--login-border-radius);
}

.loginTabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.loginTabs button:hover {
    background-color: #ddd;
}

.loginTabs button.active {
    background-color: #ccc;
}

.tablinks {
    font-size: 16px;
    font-weight: 400;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: var(--login-border-radius);
    border-bottom-right-radius: var(--login-border-radius);
}

.loginElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userName {
    display: flex;
    align-items: center;
    width: 80%;
}

.countryCodeSelect{
    font-size: 16px;
}

.pwd {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

.pwd button {
    border: 0;
    background: transparent;
    font-size: 18px;
    margin-top: 20px;
}

.userName select {
    width: 20%;
    padding: 6px;
    border: 1px solid #ccc;
    height: var(--login-input-height);
    margin-top: 20px;
    border-width: 1px;
    height: 44px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0px;
}

.userName input {
    height: var(--login-input-height);
    width: 75%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
}

.pwd input[type="password"] {
    width: 95%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: var(--login-input-height);
    margin-top: 20px;
    border-radius: 15px;
    font-size: 16px;
}

.pwd input[type="text"] {
    width: 95%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: var(--login-input-height);
    margin-top: 20px;
    border-radius: 15px;
    font-size: 16px;
}

.turnstile{
    margin-top: 20px;
}

.loginButton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
}

.operate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.handleSituation {
    display: flex;
    flex-direction: row;
    gap: 20px;
}