
.symbolContainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-left: 10px;
}

.symbol {
    font-size: 20px;
    height: 35px;
    width: 35px;
    background-color: #262f3e;
}
