.searchHeader {
    background-color: rgb(57,70,109);
    height: 28px;
    font-size: 14px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchHeader button{
    background-color: rgb(57,70,109);
    border: none;
    color: white;
    margin-right: 4px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.search input {
    flex-grow: 1;
    border-radius: 2px;
    font-size: 14px;
    min-width: 10px;
}

.search button {
    background-color: rgb(57,70,109);
    border: none;
    color: white;
    margin-right: 4px;
    flex-grow: 0;
}

.matchedContent{
    margin-left: 5px;

}

.matchedContent:hover {
    background-color: rgb(192, 198, 216)
}