.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4vh;
    background-color: rgb(20, 22, 32);
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
}