.modalAddRow {
    border: 1px solid lightgray;
}

.codeShow {
    margin-top: 20px;
    border: 1px solid lightgray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tableAction {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.jspredsheet {
    margin-top: 20px;
}